<?xml version="1.0"?>
<model>
  <name>TeleH4Z static deployed-arm sweep</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>TeleAqua</name>
  </author>
  <description>
    Controller-free TeleH4Z model with both air-propeller arms fixed deployed.
  </description>
</model>
